* {
    margin: 0;
    padding: 0;
    border: 0; 
    box-sizing: border-box;  
}

body {
    display: grid;
    grid-template-rows: min-content min-content auto 100px;
    min-height: 100vh;
    line-height: 1.5;
}

h2 {
    font-size: 2.25em;
}

main {
    width: 100%;
    max-width: 1440px;
    justify-self: center;
    align-self: start;
    padding-block-start: 2em;
    padding-inline: 1em;
    display: grid;
}

a, button {
    font-weight: 500;
}